/_files
/node_modules
/public/hot
/public/assets
/public/fonts
/public/images
/public/js
/public/staff
/public/storage
/public/mix-manifest.json
/resources/js/generated
/storage/*.key
/vendor
/.idea/*
/.phpintel
update.sh
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
